{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>jon</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static "info/css/bootstrap.min.css" %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static "info/css/style.css" %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static "info/css/responsive.css" %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static "info/images/icon1.png" %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static "info/css/jquery.mCustomScrollbar.min.css" %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'info/images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                               <h1><a href="{% url 'home' %}"><span class="span-l">Company</span></a></h1>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="{% url 'home' %}">Home</a>
                              </li>
                              <li class="nav-item">
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'company' %}">Company</a>
                              </li>
                               {% if user.is_authenticated %}
                                  <li class=" d_none get_btn">
                                     <a  href="{% url 'profile' %}">Profile</a>
                                  </li>
                                   <li class=" d_none get_btn">
                                     <a  href="{% url 'logout' %}">Log Out</a>
                                  </li>
                               {% else %}
                                   <li class=" d_none get_btn">
                                     <a  href="{% url 'register' %}">Register</a>
                                  </li>
                                   <li class=" d_none get_btn">
                                     <a  href="{% url 'login' %}">Login</a>
                                  </li>
                               {% endif %}
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="text-bg">
                     <h1>BUSINESS</h1>
                     <a href="{% url 'home' %}">Discover</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- three_box -->
      <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'info/images/b1.jpg' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'info/images/b2.jpg' %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'info/images/b3.jpg' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- three_box -->
      <!-- hottest -->
      <div  class="hottest">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>Какие организации относят к нелегальным</h2>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="hottest_box">
                     <p>Если ФО работает без специального разрешения, выполняет несвойственные для нее либо запрещенные законом KGZ операции, ее деятельность считается нелегальной.
<br>
К нелегальным ФО можно отнести четыре типа фирм:
<br>
работают без разрешения/лицензии ЦБ KGZ;
не соответствуют требованиям регулятора;
выполняют операции, не разрешенные имеющейся лицензией;
выполняют операции, запрещенные законодательством.
При сотрудничестве с нелегальными участниками рынка возрастает риск материальных потерь, ведь, во-первых, они часто обманывают своих клиентов, а во-вторых, законодательство не предусматривает никаких государственных компенсаций пострадавшим.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      <!-- end hottest -->
      <!-- choose  section -->
      <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="titlepage">
                     <h2>Категории</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                  <div class="padding_with">
                     <div class="row">
                         {% for post in cats %}
                            <div class="col-md-6 padding_bottom">
                               <div class="choose_box_logo">
                                  <i><img src="{{ post.img.url }}" alt="#"/></i><br>
                               </div>
                                   <div class="text_logo">
                                      <a href="{{ post.get_absolute_url }}">
                                     <h3>{{ post.name }}</h3>
                                      </a>
                                  </div>
                            </div>
                         {% endfor %}
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                  <div class="choose_img">
                     <figure><img src="{% static "info/images/logo_bs1.jpg" %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <a class="read_more" href="{% url 'company' %}">Read More</a>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end choose  section -->
      <!-- product  section -->
{#      <div class="product">#}
{#         <div class="container">#}
{#            <div class="row">#}
{#               <div class="col-md-6">#}
{#                  <div class="titlepage">#}
{#                     <h2>Our Product</h2>#}
{#                  </div>#}
{#               </div>#}
{#            </div>#}
{#         </div>#}
{#         <div class="container-fluid">#}
{#            <div class="row">#}
{#                {% for post in all_posts %}#}
{#                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_left0">#}
{#                      <div class="product_box">#}
{#                         <figure><img src="{{ post.img.url }}" alt="#"/></figure>#}
{#                         <h3 class="black">{{ post.name }}</h3>#}
{#                      </div>#}
{#                   </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#      </div>#}
      <!-- end product  section -->
      <!-- about -->
      <div class="about">

      </div>
      <!-- end about -->
      </div>
      <!--  footer -->
      <footer id="contact">
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="titlepage">
                        <h2>Contact Us</h2>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <form id="request" class="main_form">
                        <div class="row">
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                              <ul class="social_icon">
                                 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-3 border_right">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Locatins</li>
                        <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a> +71 9087654321</li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>demo@gmail.com</li>
                     </ul>
                  </div>


               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static "info/js/jquery.min.js" %}"></script>
      <script src="{% static "info/js/popper.min.js" %}"></script>
      <script src="{% static "info/js/bootstrap.bundle.min.js" %}"></script>
      <script src="{% static "info/js/jquery-3.0.0.min.js" %}"></script>
      <!-- sidebar -->
      <script src="{% static "info/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
      <script src="{% static "info/js/custom.js" %}"></script>
   </body>
</html>

